* {
    margin: 0px;
    padding: 0px;
}
body{
    overflow: hidden;
}

#sky {
    height: 80vh;
    width: 100%;
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    animation:  carshake linear 0.6s infinite;
}

#trees {
    height: 100vh;
    width: 100%;
    background-image: url(trees.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: -30vh;
    animation:  carshake linear 0.6s infinite;
}
#track{
    height: 50vh;
    width: 600vh;
    background-image: url(track.png);
    background-size: cover;
    background-repeat: repeat-x;
    position: absolute;
    top: 65vh;
    animation:  trackmotion linear .6s infinite;
}
#Car{
    height: 20vh;
    width: 47vh;
    background-image: url(car_body.png);
    background-size: 40vh;
    background-repeat: no-repeat;
    position: absolute;
    top: 55vh;
    left: 70vh;
    animation:  carshake linear 0.4s infinite;
}

.wheel1 img{
    height: 8vh;
    width: 8vh;
    position: relative;
    top: 3.9vh;
    left: 4.6vh;
    animation: wheelrotation linear 200ms infinite;
}
.wheel2 img{
    height: 8vh;
    width: 8vh;
    position: relative;
    top: -4.3vh;
    left: 24.7vh;
    animation: wheelrotation linear 200ms infinite;
}

@keyframes wheelrotation {
    100%{
        transform: rotate(360deg);
    }
}
@keyframes trackmotion {
    100%{
        transform: translateX(-100vh)
    }
}
@keyframes carshake {
    0%{
        transform: translateY(5px);
    }
    50%{
        transform: translateY(-5px);
    }
    100%{
        transform: translateY(5px);
    }
    
}